<a href="https://colab.research.google.com/github/Harsha-057/Python_Pratice/blob/main/strings.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#length of the string
a="""hi im harsha started at madhurawada and had a stop at carshed and went straight and stopped at yenada and taken left from he juntion and reached the gitam"""
print(a)
print(len(a))

hi im harsha started at madhurawada and had a stop at carshed and went straight and stopped at yenada and taken left from he juntion and reached the gitam
154

In [4]:
#check string
a="""hi im harsha started at madhurawada and had a stop at carshed and went straight and stopped at yenada and taken left from he juntion and reached the gitam"""
print(a)
print(len(a))
print("yes" in a)

hi im harsha started at madhurawada and had a stop at carshed and went straight and stopped at yenada and taken left from he juntion and reached the gitam
154
False

In [7]:
#if not
a="""hi im harsha started at madhurawada and had a stop at carshed and went straight and stopped at yenada and taken left from he juntion and reached the gitam"""
print("yes" not in a)

True

In [22]:
#slicing
a= "i went to rrr movie"
print(a[2:-8],a[3:5])
print(a[:2])

went to r en
i

In [36]:
#modify strings
a=" a for apple b for boy c for cat "
print(a.upper())
b="""A FOR APPLE B FOR BOY C FOR CAT"""
print(b.lower())
print(a.strip())
print(a.replace("f", "p"))
print(b.split("F"))

 A FOR APPLE B FOR BOY C FOR CAT
a for apple b for boy c for cat
a for apple b for boy c for cat
 a por apple b por boy c por cat
['A ', 'OR APPLE B ', 'OR BOY C ', 'OR CAT']

In [38]:
#String Concatenation
a = "Hello"
b = "World"
c = a + b
print(c)
d = a + " " + b
print(d)

HelloWorld
Hello World

In [41]:
#String Format
age = 18
a = "My name is Harsha, and I am {}"
print(a.format(age))

My name is Harsha, and I am 18

In [42]:
quantity = 3
itemno = 567
price = 49.95
myorder = "I want {} pieces of item {} for {} dollars."
print(myorder.format(quantity, itemno, price))

I want 3 pieces of item 567 for 49.95 dollars.

In [43]:
quantity = 3
itemno = 567
price = 49.95
myorder = "I want to pay {2} dollars for {0} pieces of item {1}."
print(myorder.format(quantity, itemno, price))

I want to pay 49.95 dollars for 3 pieces of item 567.

In [55]:
#Escape Character
a = "We are the so-called Vikings	 from the north."
print(a)

We are the so-called \oooVikings\ooo	 from the north.

In [56]:
#String Methods
a="I want pieces of item for dollars."
print(a.capitalize())

I want pieces of item for dollars.