<a href="https://colab.research.google.com/github/Harsha-057/Python_Pratice/blob/main/tuple.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
thistuple = ("apple", "banana", "cherry")
y = list(thistuple)
y.append("orange")
thistuple = tuple(y)
print(thistuple)

('apple', 'banana', 'cherry', 'orange')

In [5]:
fruits = ("dn", "hm", "hn")

(h1, h2, h3) = fruits

print(h1)
print(h2)
print(h3)

dn
hm
hn

In [15]:
fruits = ("apple", "banana", "cherry", "strawberry", "raspberry")

(green, yellow, *f) = fruits

print(green)
print(yellow)
print(red)

apple
banana
['cherry', 'strawberry', 'raspberry']

In [16]:
tuple1 = ("a", "b" , "c")
tuple2 = (1, 2, 3)

tuple3 = tuple1 + tuple2
print(tuple3)

('a', 'b', 'c', 1, 2, 3)

In [32]:
fruits = ["ghghh","apple","apple","apple", "banana", "cherry"]
fruits.pop(0)
print(fruits)

['apple', 'apple', 'apple', 'banana', 'cherry']